[submodule "lib/mdb"]
	path = lib/mdb
	url = https://github.com/xoit/mdb.git
[submodule "lib/scmd"]
	path = lib/scmd
	url = https://github.com/xoit/scmd.git
[submodule "lib/ccmd"]
	path = lib/ccmd
	url = https://github.com/xoit/ccmd.git
