[submodule "lib/mdb"]
	path = lib/mdb
	url = http://docpd.marvell.com:3000/lfli/mdb.git
[submodule "lib/scmd"]
	path = lib/scmd
	url = http://docpd.marvell.com:3000/lfli/scmd.git
[submodule "lib/ccmd"]
	path = lib/ccmd
	url = http://docpd.marvell.com:3000/lfli/ccmd.git
